@media (max-width: 1140px) {
    .header__nav-list-item {
        max-width: 180px;
        width: 100%;
    }

    .header__nav-link {
        font-size: 15px;
    }

    .banner__text-content {
        color: white;
    }

    .banner__text-content div {
        font-weight: 500;
    }

    .footer__nav-list {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
    }

    .footer__nav-list-item {
        width: calc(100% / 3 - 30px);
        font-size: 20px;
        margin-bottom: 20px;
        
    }
}

@media (max-width: 872px) {
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 30px;
        display: flex;
    }

    .header__burger {
        display: flex;
        z-index: 2;
    }

    .header__nav {
        z-index: 1;
        display: flex;
        align-items: flex-end;
        position: absolute;
        background-color: #161616;
        left: 0;
        top: 0;
        transform: translateY(-550px);
        width: 70%;
        height: 500px;
        border-radius: 0 0 20px 0px;
        box-shadow: 0px 0px 10px 5px #A48E7F;
    }

    .header__nav-list {
        width: 100%;
        border-top: 1px solid #A48E7F ;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: calc(100% - 69px);
    }

    .header__nav-list-item {
        max-width: 60%;
    }

    .header__nav-link {
        font-size: 20px;
    }

    .header__nav-list-item:not(:last-child) {
        margin-bottom: 40px;
        margin-right: 0;
    }

    .header-nav--active {
        transform: translateY(0px);
    }

    .footer__top {
        flex-wrap: wrap;

    }

    .footer__top-block {
        width: calc(100% / 2);
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .banner {
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-left: 20px;
        min-height: 550px;
    }

    .banner__text-content {
        padding-top: 200px;
        background-size: 200px;
        font-size: 15px;
        background-position: 50px top;
        width: 100%;
    }

    .banner__text-line {
        font-size: 18px;
    }

    .contacts__info {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .contacts__info-item {
        font-size: 15px;
    }

    .services__buttons {
        display: flex;
        flex-direction: column;
    }

    .about {
        padding-top: 200px;
        background-size: 200px;
        background-position: center top;
    }

    .about__bottom-block {
        width: 100%;
    }

    .black-list-button {
        margin: 0;
        margin-bottom: 30px;
    }

    .footer__nav-list-item {
        width: calc(100% / 2 - 30px);
        font-size: 20px;
        margin-bottom: 20px;
        
    }

    .services__item {
        width: 100%;
    }

}

@media (max-width: 576px) {

    .header__nav {
        width: 90%;
    }

    .banner__title {
        width: 100%;
        padding-left: 50px;
        text-align: left;
    }
    
    .footer__top-block {
        width: calc(100%);
        margin-bottom: 40px;
        align-items: center;
    }

    .footer__nav-list-link {
        min-width: 100px;
        font-size: 15px;
        font-weight: 600;
    }

    .contacts__info-item {
        width: 100%;
    }

    .contacts__info-item-content {
        font-size: 15px;
        word-wrap: break-word;
    }
}

@media (max-width: 426px) {
    .header__nav-list-item {
        max-width: 100%;
    }

    .banner {
        padding-right: 20px;
        align-items: center;
    }

    .banner__title {
        text-align: center;
        padding-left: 0px;
    }

    .banner__socials-link-svg {
        width: 40px;
        height: 40px;
    }
    .banner__text-content {
        background-position: center top;
        font-size: 12px;
    }
    .banner__text-line {
        font-size: 15px;
    }
    .about__bottom-block {
        padding: 0;
        padding-top: 140px;
        background-position: center top;
    }

    .services__item {
        max-width: 100%;
        font-size: 15px;
    }

    .contacts__info {
        overflow: hidden;
        align-items: start;
    }

    .footer__nav {
        box-shadow: none;
        border-top: 1px solid #a0a0a0;
        border-bottom: 1px solid #a0a0a0;
    }

    .footer__nav-list-item {
        width: 100%;
    }

    .footer__nav-list-item:not(:last-child) {
        margin-right: 0;
    }
    .footer__bottom {
        flex-direction: column;
    }

    .footer__bottom-left {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .footer__bottom-right {
        width: 100%;
        background-position: center;
    }
}